# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/
test-output/
reports/

# Mobile Testing
*.trace
*.ipa
*.apk
!ApiDemos-debug.apk
*.app
*.dSYM.zip
*.dSYM
*.xcarchive
*.hprof

# Test artifacts
screenshots/
videos/
window_dump.xml

# System
.DS_Store
Thumbs.db
